# vds apps config
NIFI_HOST = "{{ superset.host.public_address }}"
NIFI_PORT = "{{ nifi.host.port }}"
NIFI_URI = "{{ superset.nifi.uri }}"

OPENREFINE_HOST = "{{ superset.host.public_address }}"
OPENREFINE_PORT = "{{ openrefine.host.port }}"
OPENREFINE_URI = "{{ superset.openrefine.uri }}"

ANACONDA_HOST = "{{ superset.host.public_address }}"
ANACONDA_PORT = "{{ anaconda.host.port }}"
ANACONDA_URI = "{{ superset.anaconda.uri }}"

H2O_HOST = "{{ superset.host.public_address }}"
H2O_PORT = "{{ h2o.host.port }}"
H2O_URI = "{{ superset.h2o.uri }}"
